header{
  text-align: center;
  font-size: 10vh;
  font-style: italic;
  color: rebeccapurple;
  background-color: #ea5169;
}
img{
  width:25vh;
  height:25vh;
}
footer{
  text-align: center;
  font-size: 10vh;
  font-style: italic;
  color: rebeccapurple;
  background-color: #ea5169;
}
